@import '../../shared/colors.scss';
@import '../../shared/common.scss';

.result-container {
	margin: 0 auto;
	color: aliceblue;
	width: 70%;
	border-bottom: 1px solid hsla(208, 100%, 97%, 0.5);
	padding: 10px;
	padding-bottom: 22px;
	font-size: 0;
}

.image-url-rate {
	font-size: 16px;
}

.image {
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
}

.url-rating {
	vertical-align: top;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	.url {
		text-align: center;
		padding-bottom: 5px;
	}
	.stars {
		display: inline-flex;
		padding-right: 5px;
	}
	.going {
    width: 75px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 12px;
	}
}

a {
	color: $yellow;
	transition: 0.3s;
	text-decoration: none;
	&:hover {
		color: aliceblue;
	}
}

.snippet {
	vertical-align: top;
	display: inline-block;	
	position: relative;
	top: 20px;
	font-size: 16px;
}