@import './colors.scss';

.button {
  border: 1px solid aliceblue;
  border-radius: 5px;
  padding: 10px;
  color: aliceblue;
  transition: 0.2s;
  &:hover {
    background-color: aliceblue;
    color: $blue1;
    cursor: pointer;
  }
}